<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app-7">
	  <ol>
	    <!-- Now we provide each todo-item with the todo object    -->
	    <!-- it's representing, so that its content can be dynamic -->
	    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
	  </ol>
   </div>
   <div id="example-2">
	  <simple-counter></simple-counter>
	  <simple-counter></simple-counter>
	  <simple-counter></simple-counter>
	  
   </div>

   <div id="app-1">
   	 <my-component></my-component>
   </div>
   <div id="example2">
   	 <my-component msg="hello"></my-component>
   </div>
   <div id="app-2">
   	 <input v-model="parentMsg">
	  <br>
	 <child v-bind:my-message="parentMsg"></child>
   </div>
	<script type="text/javascript">
		Vue.component('todo-item', {
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
})
var app7 = new Vue({
  el: '#app-7',
  data: {
    groceryList: [
      { text: 'Vegetables' },
      { text: 'Cheese' },
      { text: 'Whatever else humans are supposed to eat' }
    ]
  }
})
//先注册再调动
var data = { counter: 0 }
Vue.component('simple-counter', {
  template: '<button v-on:click="counter += 1">{{ counter }}</button>',
  // data 是一个函数，因此 Vue 不会警告，
  // 但是我们为每一个组件返回了同一个对象引用
  data: function () {
    // return data
    return {
    	counter:0
    }
  }
})
new Vue({
  el: '#example-2'
})
//先注册再调用
// Vue.component("my-component",{
// 	 //props: ['message'],
//   // 就像 data 一样，prop 可以用在模板内
//   // 同样也可以在 vm 实例中像 “this.message” 这样使用
//   template: '<span>{{ message }}</span>'
// })
Vue.component('my-component', {
  template: '<span>{{ message }}</span>',
  data(){
  	return {
  		message:"hello"
  	}
  }
})
new Vue({
  el: '#app-1'
})

new Vue({
			el:"#example2",
			components:{
				myComponent:{
					props:['msg'],
				    template:'<span>{{msg}}</span>'
				}
				
			}
		})
Vue.component("child",{
	props: ['myMessage'],
	template:'<span>{{myMessage}}</span>'
})
new Vue({
  el: '#app-2',
  data:{
  	parentMsg:"message from parent"
  }
})
	</script>
</body>
</html>